{% extends "CSCVAppBundle:Layout:layout.html.twig" %}
{% block title %}Seajs测试{% endblock %}
{% block content %}
    <h1>Seajs测试</h1>
    <main class="ui three column grid">
        <aside class="column">1</aside>
        <section class="colunmn">2</section>
        <section class="column">3</section>
    </main>
{% endblock %}
