.hide {
    display: none;
}

.buttonList {

}

#sideLaunch {
    position: fixed;
    top: 60px;
}

#mainContainer {
    /*padding-top: 70px;*/
}

.ui.horizontal.list.buttonList > .item {
    margin-left: 0;
}
