{# 顶栏 #}
<div id="header" class="ui purple large fixed inverted menu">
    <div class="mainContainer">
        <a class="title item">
            <i class="doctor icon"></i>
            健康大数据管理系统
        </a>

        <div class="right menu">
            <a class="item" href="{{ path('fos_user_security_logout') }}">
                <i class="sign out icon"></i>
            </a>
        </div>
    </div>
</div>