<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% include "CSCVAppBundle:Layout:stylesheets.html.twig" %}
    {% block stylesheets %}
    {% endblock %}
</head>
<body>
{% if noSideHeader is not defined %}
    {# 侧栏 #}
    {% include 'CSCVAppBundle:Layout:side.html.twig' %}
    {# 顶栏#}
    {% include 'CSCVAppBundle:Layout:header.html.twig' %}
{% endif %}

<div class="pusher">
    {% if noSideHeader is not defined %}
        <div id="paddingHolder" style="padding-top:150px"></div>
    {% endif %}
    <div id="main" class="mainContainer">
        {% block content %}
        {% endblock %}
    </div>
</div>
{% if footer is defined %}
    {% include "CSCVAppBundle:Layout:footer.html.twig" %}
{% endif %}
</body>
{% block scripts %}
    {% include "CSCVAppBundle:Layout:scripts.html.twig" %}
{% endblock %}
</html>