<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% include "CSCVAppBundle:Layout:stylesheets.html.twig" %}
    {% block stylesheets %}
    {% endblock %}
</head>
<body>
<div id="bodyWrapper">
    {% block navbar %}
    {% endblock %}
    {% block content %}{% endblock %}
    {% if footer is defined %}
        {% include "CSCVAppBundle:Layout:footer.html.twig" %}
    {% endif %}
    {% include "CSCVAppBundle:Layout:scripts.html.twig" %}
</div>
</body>
</html>