<div id="sidebar" class="ui left vertical inverted sidebar menu">
    <div class="sideContainer">
        <div class="item">
            <h3>操作</h3>
        </div>
        <a class="item" href="{{ path('cscv_app_image_index') }}">
            <i class="tag icon"></i>
            图像标定
        </a>
        <a class="item" href="{{ path('cscv_app_disease_index') }}">
            <i class="treatment icon"></i>
            疾病管理
        </a>
    </div>
</div>
{# 侧栏启动项 #}
<div id="sideLaunch" class="ui large fixed button">
    <i class="content icon"></i>
</div>